<a href="https://colab.research.google.com/github/ishnt/Data_science_stuff/blob/main/rnn_with_embedding_layer_and_stacked_rnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
import numpy as np

In [75]:
docs = [
    "The quick brown fox jumps over the lazy dog.",
    "Python is a versatile programming language.",
    "Today is a beautiful day.",
    "I enjoy learning new things.",
    "The sky is clear and the sun is shining.",
    "Coding is both challenging and rewarding.",
    "Reading books opens up new worlds.",
    "Practice makes perfect.",
    "Nature provides us with endless beauty.",
    "Innovation drives progress in technology."
]

In [76]:
import tensorflow as tf
from keras.preprocessing.text import Tokenizer

tokenizer=Tokenizer(oov_token='<nothing>')

In [77]:
tokenizer.fit_on_texts(docs)

In [78]:
tokenizer.word_index

{'<nothing>': 1,
 'is': 2,
 'the': 3,
 'a': 4,
 'new': 5,
 'and': 6,
 'quick': 7,
 'brown': 8,
 'fox': 9,
 'jumps': 10,
 'over': 11,
 'lazy': 12,
 'dog': 13,
 'python': 14,
 'versatile': 15,
 'programming': 16,
 'language': 17,
 'today': 18,
 'beautiful': 19,
 'day': 20,
 'i': 21,
 'enjoy': 22,
 'learning': 23,
 'things': 24,
 'sky': 25,
 'clear': 26,
 'sun': 27,
 'shining': 28,
 'coding': 29,
 'both': 30,
 'challenging': 31,
 'rewarding': 32,
 'reading': 33,
 'books': 34,
 'opens': 35,
 'up': 36,
 'worlds': 37,
 'practice': 38,
 'makes': 39,
 'perfect': 40,
 'nature': 41,
 'provides': 42,
 'us': 43,
 'with': 44,
 'endless': 45,
 'beauty': 46,
 'innovation': 47,
 'drives': 48,
 'progress': 49,
 'in': 50,
 'technology': 51}

In [79]:
tokenizer.word_counts

OrderedDict([('the', 4),
             ('quick', 1),
             ('brown', 1),
             ('fox', 1),
             ('jumps', 1),
             ('over', 1),
             ('lazy', 1),
             ('dog', 1),
             ('python', 1),
             ('is', 5),
             ('a', 2),
             ('versatile', 1),
             ('programming', 1),
             ('language', 1),
             ('today', 1),
             ('beautiful', 1),
             ('day', 1),
             ('i', 1),
             ('enjoy', 1),
             ('learning', 1),
             ('new', 2),
             ('things', 1),
             ('sky', 1),
             ('clear', 1),
             ('and', 2),
             ('sun', 1),
             ('shining', 1),
             ('coding', 1),
             ('both', 1),
             ('challenging', 1),
             ('rewarding', 1),
             ('reading', 1),
             ('books', 1),
             ('opens', 1),
             ('up', 1),
             ('worlds', 1),
             ('practice', 1),
             ('makes', 1),
             ('perfect', 1),
             ('nature', 1),
             ('provides', 1),
             ('us', 1),
             ('with', 1),
             ('endless', 1),
             ('beauty', 1),
             ('innovation', 1),
             ('drives', 1),
             ('progress', 1),
             ('in', 1),
             ('technology', 1)])

In [80]:
tokenizer.document_count

10

In [81]:
sequences=tokenizer.texts_to_sequences(docs)

In [82]:
from keras.utils import pad_sequences
nsequences=pad_sequences(sequences,maxlen=10,padding='post')

In [83]:
nsequences

array([[ 3,  7,  8,  9, 10, 11,  3, 12, 13,  0],
       [14,  2,  4, 15, 16, 17,  0,  0,  0,  0],
       [18,  2,  4, 19, 20,  0,  0,  0,  0,  0],
       [21, 22, 23,  5, 24,  0,  0,  0,  0,  0],
       [ 3, 25,  2, 26,  6,  3, 27,  2, 28,  0],
       [29,  2, 30, 31,  6, 32,  0,  0,  0,  0],
       [33, 34, 35, 36,  5, 37,  0,  0,  0,  0],
       [38, 39, 40,  0,  0,  0,  0,  0,  0,  0],
       [41, 42, 43, 44, 45, 46,  0,  0,  0,  0],
       [47, 48, 49, 50, 51,  0,  0,  0,  0,  0]], dtype=int32)

In [84]:
#setiment analysis using rnn
from keras.datasets import imdb
imdb.load_data( num_words=10000)

((array([list([1, 14, 22, 16, 43, 530, 973, 1622, 1385, 65, 458, 4468, 66, 3941, 4, 173, 36, 256, 5, 25, 100, 43, 838, 112, 50, 670, 2, 9, 35, 480, 284, 5, 150, 4, 172, 112, 167, 2, 336, 385, 39, 4, 172, 4536, 1111, 17, 546, 38, 13, 447, 4, 192, 50, 16, 6, 147, 2025, 19, 14, 22, 4, 1920, 4613, 469, 4, 22, 71, 87, 12, 16, 43, 530, 38, 76, 15, 13, 1247, 4, 22, 17, 515, 17, 12, 16, 626, 18, 2, 5, 62, 386, 12, 8, 316, 8, 106, 5, 4, 2223, 5244, 16, 480, 66, 3785, 33, 4, 130, 12, 16, 38, 619, 5, 25, 124, 51, 36, 135, 48, 25, 1415, 33, 6, 22, 12, 215, 28, 77, 52, 5, 14, 407, 16, 82, 2, 8, 4, 107, 117, 5952, 15, 256, 4, 2, 7, 3766, 5, 723, 36, 71, 43, 530, 476, 26, 400, 317, 46, 7, 4, 2, 1029, 13, 104, 88, 4, 381, 15, 297, 98, 32, 2071, 56, 26, 141, 6, 194, 7486, 18, 4, 226, 22, 21, 134, 476, 26, 480, 5, 144, 30, 5535, 18, 51, 36, 28, 224, 92, 25, 104, 4, 226, 65, 16, 38, 1334, 88, 12, 16, 283, 5, 16, 4472, 113, 103, 32, 15, 16, 5345, 19, 178, 32]),
         list([1, 194, 1153, 194, 8255, 78, 228, 5, 6, 1463, 4369, 5012, 134, 26, 4, 715, 8, 118, 1634, 14, 394, 20, 13, 119, 954, 189, 102, 5, 207, 110, 3103, 21, 14, 69, 188, 8, 30, 23, 7, 4, 249, 126, 93, 4, 114, 9, 2300, 1523, 5, 647, 4, 116, 9, 35, 8163, 4, 229, 9, 340, 1322, 4, 118, 9, 4, 130, 4901, 19, 4, 1002, 5, 89, 29, 952, 46, 37, 4, 455, 9, 45, 43, 38, 1543, 1905, 398, 4, 1649, 26, 6853, 5, 163, 11, 3215, 2, 4, 1153, 9, 194, 775, 7, 8255, 2, 349, 2637, 148, 605, 2, 8003, 15, 123, 125, 68, 2, 6853, 15, 349, 165, 4362, 98, 5, 4, 228, 9, 43, 2, 1157, 15, 299, 120, 5, 120, 174, 11, 220, 175, 136, 50, 9, 4373, 228, 8255, 5, 2, 656, 245, 2350, 5, 4, 9837, 131, 152, 491, 18, 2, 32, 7464, 1212, 14, 9, 6, 371, 78, 22, 625, 64, 1382, 9, 8, 168, 145, 23, 4, 1690, 15, 16, 4, 1355, 5, 28, 6, 52, 154, 462, 33, 89, 78, 285, 16, 145, 95]),
         list([1, 14, 47, 8, 30, 31, 7, 4, 249, 108, 7, 4, 5974, 54, 61, 369, 13, 71, 149, 14, 22, 112, 4, 2401, 311, 12, 16, 3711, 33, 75, 43, 1829, 296, 4, 86, 320, 35, 534, 19, 263, 4821, 1301, 4, 1873, 33, 89, 78, 12, 66, 16, 4, 360, 7, 4, 58, 316, 334, 11, 4, 1716, 43, 645, 662, 8, 257, 85, 1200, 42, 1228, 2578, 83, 68, 3912, 15, 36, 165, 1539, 278, 36, 69, 2, 780, 8, 106, 14, 6905, 1338, 18, 6, 22, 12, 215, 28, 610, 40, 6, 87, 326, 23, 2300, 21, 23, 22, 12, 272, 40, 57, 31, 11, 4, 22, 47, 6, 2307, 51, 9, 170, 23, 595, 116, 595, 1352, 13, 191, 79, 638, 89, 2, 14, 9, 8, 106, 607, 624, 35, 534, 6, 227, 7, 129, 113]),
         ...,
         list([1, 11, 6, 230, 245, 6401, 9, 6, 1225, 446, 2, 45, 2174, 84, 8322, 4007, 21, 4, 912, 84, 2, 325, 725, 134, 2, 1715, 84, 5, 36, 28, 57, 1099, 21, 8, 140, 8, 703, 5, 2, 84, 56, 18, 1644, 14, 9, 31, 7, 4, 9406, 1209, 2295, 2, 1008, 18, 6, 20, 207, 110, 563, 12, 8, 2901, 2, 8, 97, 6, 20, 53, 4767, 74, 4, 460, 364, 1273, 29, 270, 11, 960, 108, 45, 40, 29, 2961, 395, 11, 6, 4065, 500, 7, 2, 89, 364, 70, 29, 140, 4, 64, 4780, 11, 4, 2678, 26, 178, 4, 529, 443, 2, 5, 27, 710, 117, 2, 8123, 165, 47, 84, 37, 131, 818, 14, 595, 10, 10, 61, 1242, 1209, 10, 10, 288, 2260, 1702, 34, 2901, 2, 4, 65, 496, 4, 231, 7, 790, 5, 6, 320, 234, 2766, 234, 1119, 1574, 7, 496, 4, 139, 929, 2901, 2, 7750, 5, 4241, 18, 4, 8497, 2, 250, 11, 1818, 7561, 4, 4217, 5408, 747, 1115, 372, 1890, 1006, 541, 9303, 7, 4, 59, 2, 4, 3586, 2]),
         list([1, 1446, 7079, 69, 72, 3305, 13, 610, 930, 8, 12, 582, 23, 5, 16, 484, 685, 54, 349, 11, 4120, 2959, 45, 58, 1466, 13, 197, 12, 16, 43, 23, 2, 5, 62, 30, 145, 402, 11, 4131, 51, 575, 32, 61, 369, 71, 66, 770, 12, 1054, 75, 100, 2198, 8, 4, 105, 37, 69, 147, 712, 75, 3543, 44, 257, 390, 5, 69, 263, 514, 105, 50, 286, 1814, 23, 4, 123, 13, 161, 40, 5, 421, 4, 116, 16, 897, 13, 2, 40, 319, 5872, 112, 6700, 11, 4803, 121, 25, 70, 3468, 4, 719, 3798, 13, 18, 31, 62, 40, 8, 7200, 4, 2, 7, 14, 123, 5, 942, 25, 8, 721, 12, 145, 5, 202, 12, 160, 580, 202, 12, 6, 52, 58, 2, 92, 401, 728, 12, 39, 14, 251, 8, 15, 251, 5, 2, 12, 38, 84, 80, 124, 12, 9, 23]),
         list([1, 17, 6, 194, 337, 7, 4, 204, 22, 45, 254, 8, 106, 14, 123, 4, 2, 270, 2, 5, 2, 2, 732, 2098, 101, 405, 39, 14, 1034, 4, 1310, 9, 115, 50, 305, 12, 47, 4, 168, 5, 235, 7, 38, 111, 699, 102, 7, 4, 4039, 9245, 9, 24, 6, 78, 1099, 17, 2345, 2, 21, 27, 9685, 6139, 5, 2, 1603, 92, 1183, 4, 1310, 7, 4, 204, 42, 97, 90, 35, 221, 109, 29, 127, 27, 118, 8, 97, 12, 157, 21, 6789, 2, 9, 6, 66, 78, 1099, 4, 631, 1191, 5, 2642, 272, 191, 1070, 6, 7585, 8, 2197, 2, 2, 544, 5, 383, 1271, 848, 1468, 2, 497, 2, 8, 1597, 8778, 2, 21, 60, 27, 239, 9, 43, 8368, 209, 405, 10, 10, 12, 764, 40, 4, 248, 20, 12, 16, 5, 174, 1791, 72, 7, 51, 6, 1739, 22, 4, 204, 131, 9])],
        dtype=object),
  array([1, 0, 0, ..., 0, 1, 0])),
 (array([list([1, 591, 202, 14, 31, 6, 717, 10, 10, 2, 2, 5, 4, 360, 7, 4, 177, 5760, 394, 354, 4, 123, 9, 1035, 1035, 1035, 10, 10, 13, 92, 124, 89, 488, 7944, 100, 28, 1668, 14, 31, 23, 27, 7479, 29, 220, 468, 8, 124, 14, 286, 170, 8, 157, 46, 5, 27, 239, 16, 179, 2, 38, 32, 25, 7944, 451, 202, 14, 6, 717]),
         list([1, 14, 22, 3443, 6, 176, 7, 5063, 88, 12, 2679, 23, 1310, 5, 109, 943, 4, 114, 9, 55, 606, 5, 111, 7, 4, 139, 193, 273, 23, 4, 172, 270, 11, 7216, 2, 4, 8463, 2801, 109, 1603, 21, 4, 22, 3861, 8, 6, 1193, 1330, 10, 10, 4, 105, 987, 35, 841, 2, 19, 861, 1074, 5, 1987, 2, 45, 55, 221, 15, 670, 5304, 526, 14, 1069, 4, 405, 5, 2438, 7, 27, 85, 108, 131, 4, 5045, 5304, 3884, 405, 9, 3523, 133, 5, 50, 13, 104, 51, 66, 166, 14, 22, 157, 9, 4, 530, 239, 34, 8463, 2801, 45, 407, 31, 7, 41, 3778, 105, 21, 59, 299, 12, 38, 950, 5, 4521, 15, 45, 629, 488, 2733, 127, 6, 52, 292, 17, 4, 6936, 185, 132, 1988, 5304, 1799, 488, 2693, 47, 6, 392, 173, 4, 2, 4378, 270, 2352, 4, 1500, 7, 4, 65, 55, 73, 11, 346, 14, 20, 9, 6, 976, 2078, 7, 5293, 861, 2, 5, 4182, 30, 3127, 2, 56, 4, 841, 5, 990, 692, 8, 4, 1669, 398, 229, 10, 10, 13, 2822, 670, 5304, 14, 9, 31, 7, 27, 111, 108, 15, 2033, 19, 7836, 1429, 875, 551, 14, 22, 9, 1193, 21, 45, 4829, 5, 45, 252, 8, 2, 6, 565, 921, 3639, 39, 4, 529, 48, 25, 181, 8, 67, 35, 1732, 22, 49, 238, 60, 135, 1162, 14, 9, 290, 4, 58, 10, 10, 472, 45, 55, 878, 8, 169, 11, 374, 5687, 25, 203, 28, 8, 818, 12, 125, 4, 3077]),
         list([1, 111, 748, 4368, 1133, 2, 2, 4, 87, 1551, 1262, 7, 31, 318, 9459, 7, 4, 498, 5076, 748, 63, 29, 5161, 220, 686, 2, 5, 17, 12, 575, 220, 2507, 17, 6, 185, 132, 2, 16, 53, 928, 11, 2, 74, 4, 438, 21, 27, 2, 589, 8, 22, 107, 2, 2, 997, 1638, 8, 35, 2076, 9019, 11, 22, 231, 54, 29, 1706, 29, 100, 2, 2425, 34, 2, 8738, 2, 5, 2, 98, 31, 2122, 33, 6, 58, 14, 3808, 1638, 8, 4, 365, 7, 2789, 3761, 356, 346, 4, 2, 1060, 63, 29, 93, 11, 5421, 11, 2, 33, 6, 58, 54, 1270, 431, 748, 7, 32, 2580, 16, 11, 94, 2, 10, 10, 4, 993, 2, 7, 4, 1766, 2634, 2164, 2, 8, 847, 8, 1450, 121, 31, 7, 27, 86, 2663, 2, 16, 6, 465, 993, 2006, 2, 573, 17, 2, 42, 4, 2, 37, 473, 6, 711, 6, 8869, 7, 328, 212, 70, 30, 258, 11, 220, 32, 7, 108, 21, 133, 12, 9, 55, 465, 849, 3711, 53, 33, 2071, 1969, 37, 70, 1144, 4, 5940, 1409, 74, 476, 37, 62, 91, 1329, 169, 4, 1330, 2, 146, 655, 2212, 5, 258, 12, 184, 2, 546, 5, 849, 2, 7, 4, 22, 1436, 18, 631, 1386, 797, 7, 4, 8712, 71, 348, 425, 4320, 1061, 19, 2, 5, 2, 11, 661, 8, 339, 2, 4, 2455, 2, 7, 4, 1962, 10, 10, 263, 787, 9, 270, 11, 6, 9466, 4, 2, 2, 121, 4, 5437, 26, 4434, 19, 68, 1372, 5, 28, 446, 6, 318, 7149, 8, 67, 51, 36, 70, 81, 8, 4392, 2294, 36, 1197, 8, 2, 2, 18, 6, 711, 4, 9909, 26, 2, 1125, 11, 14, 636, 720, 12, 426, 28, 77, 776, 8, 97, 38, 111, 7489, 6175, 168, 1239, 5189, 137, 2, 18, 27, 173, 9, 2399, 17, 6, 2, 428, 2, 232, 11, 4, 8014, 37, 272, 40, 2708, 247, 30, 656, 6, 2, 54, 2, 3292, 98, 6, 2840, 40, 558, 37, 6093, 98, 4, 2, 1197, 15, 14, 9, 57, 4893, 5, 4659, 6, 275, 711, 7937, 2, 3292, 98, 6, 2, 10, 10, 6639, 19, 14, 2, 267, 162, 711, 37, 5900, 752, 98, 4, 2, 2378, 90, 19, 6, 2, 7, 2, 1810, 2, 4, 4770, 3183, 930, 8, 508, 90, 4, 1317, 8, 4, 2, 17, 2, 3965, 1853, 4, 1494, 8, 4468, 189, 4, 2, 6287, 5774, 4, 4770, 5, 95, 271, 23, 6, 7742, 6063, 2, 5437, 33, 1526, 6, 425, 3155, 2, 4535, 1636, 7, 4, 4669, 2, 469, 4, 4552, 54, 4, 150, 5664, 2, 280, 53, 2, 2, 18, 339, 29, 1978, 27, 7885, 5, 2, 68, 1830, 19, 6571, 2, 4, 1515, 7, 263, 65, 2132, 34, 6, 5680, 7489, 43, 159, 29, 9, 4706, 9, 387, 73, 195, 584, 10, 10, 1069, 4, 58, 810, 54, 14, 6078, 117, 22, 16, 93, 5, 1069, 4, 192, 15, 12, 16, 93, 34, 6, 1766, 2, 33, 4, 5673, 7, 15, 2, 9252, 3286, 325, 12, 62, 30, 776, 8, 67, 14, 17, 6, 2, 44, 148, 687, 2, 203, 42, 203, 24, 28, 69, 2, 6676, 11, 330, 54, 29, 93, 2, 21, 845, 2, 27, 1099, 7, 819, 4, 22, 1407, 17, 6, 2, 787, 7, 2460, 2, 2, 100, 30, 4, 3737, 3617, 3169, 2321, 42, 1898, 11, 4, 3814, 42, 101, 704, 7, 101, 999, 15, 1625, 94, 2926, 180, 5, 9, 9101, 34, 2, 45, 6, 1429, 22, 60, 6, 1220, 31, 11, 94, 6408, 96, 21, 94, 749, 9, 57, 975]),
         ...,
         list([1, 13, 1408, 15, 8, 135, 14, 9, 35, 32, 46, 394, 20, 62, 30, 5093, 21, 45, 184, 78, 4, 1492, 910, 769, 2290, 2515, 395, 4257, 5, 1454, 11, 119, 2, 89, 1036, 4, 116, 218, 78, 21, 407, 100, 30, 128, 262, 15, 7, 185, 2280, 284, 1842, 2, 37, 315, 4, 226, 20, 272, 2942, 40, 29, 152, 60, 181, 8, 30, 50, 553, 362, 80, 119, 12, 21, 846, 5518]),
         list([1, 11, 119, 241, 9, 4, 840, 20, 12, 468, 15, 94, 3684, 562, 791, 39, 4, 86, 107, 8, 97, 14, 31, 33, 4, 2960, 7, 743, 46, 1028, 9, 3531, 5, 4, 768, 47, 8, 79, 90, 145, 164, 162, 50, 6, 501, 119, 7, 9, 4, 78, 232, 15, 16, 224, 11, 4, 333, 20, 4, 985, 200, 5, 2, 5, 9, 1861, 8, 79, 357, 4, 20, 47, 220, 57, 206, 139, 11, 12, 5, 55, 117, 212, 13, 1276, 92, 124, 51, 45, 1188, 71, 536, 13, 520, 14, 20, 6, 2302, 7, 470]),
         list([1, 6, 52, 7465, 430, 22, 9, 220, 2594, 8, 28, 2, 519, 3227, 6, 769, 15, 47, 6, 3482, 4067, 8, 114, 5, 33, 222, 31, 55, 184, 704, 5586, 2, 19, 346, 3153, 5, 6, 364, 350, 4, 184, 5586, 9, 133, 1810, 11, 5417, 2, 21, 4, 7298, 2, 570, 50, 2005, 2643, 9, 6, 1249, 17, 6, 2, 2, 21, 17, 6, 1211, 232, 1138, 2249, 29, 266, 56, 96, 346, 194, 308, 9, 194, 21, 29, 218, 1078, 19, 4, 78, 173, 7, 27, 2, 5698, 3406, 718, 2, 9, 6, 6907, 17, 210, 5, 3281, 5677, 47, 77, 395, 14, 172, 173, 18, 2740, 2931, 4517, 82, 127, 27, 173, 11, 6, 392, 217, 21, 50, 9, 57, 65, 12, 2, 53, 40, 35, 390, 7, 11, 4, 3567, 7, 4, 314, 74, 6, 792, 22, 2, 19, 714, 727, 5205, 382, 4, 91, 6533, 439, 19, 14, 20, 9, 1441, 5805, 1118, 4, 756, 25, 124, 4, 31, 12, 16, 93, 804, 34, 2005, 2643])],
        dtype=object),
  array([0, 1, 1, ..., 0, 0, 0])))

In [85]:
from keras import Sequential
from keras.layers import Dense,SimpleRNN,Embedding,Flatten

In [86]:
(x_train , y_train)  , (x_test , y_test)= imdb.load_data(  num_words=10000)

In [87]:
print(len(x_train[0]))

218

In [88]:
print(len(x_train[1]))

189

In [89]:
from keras.utils import pad_sequences
x_train=pad_sequences(x_train,maxlen=50,padding='post')
x_test=pad_sequences(x_test,maxlen=50,padding='post')

In [90]:
print(x_train)

[[2071   56   26 ...   19  178   32]
 [8255    5    2 ...   16  145   95]
 [ 215   28  610 ...    7  129  113]
 ...
 [   4   65  496 ...    4 3586    2]
 [  13   18   31 ...   12    9   23]
 [7585    8 2197 ...  204  131    9]]

In [91]:
print(x_test)

[[ 394  354    4 ...   14    6  717]
 [   5   45  252 ...  125    4 3077]
 [   7 2460    2 ...    9   57  975]
 ...
 [2515  395 4257 ...   21  846 5518]
 [  78  232   15 ... 2302    7  470]
 [   9   57   65 ...   34 2005 2643]]

In [92]:
print(x_test[0])

[ 394  354    4  123    9 1035 1035 1035   10   10   13   92  124   89
  488 7944  100   28 1668   14   31   23   27 7479   29  220  468    8
  124   14  286  170    8  157   46    5   27  239   16  179    2   38
   32   25 7944  451  202   14    6  717]

In [93]:
print(len(x_test[0]))

50

In [94]:
print(len(x_test[90]))

50

In [95]:
model = Sequential()
model.add(Embedding(input_dim = 10000, output_dim = 2, input_length = 50))
model.add(SimpleRNN(32, input_shape = (50,1), return_sequences=False))
model.add(Dense(1,activation = 'sigmoid'))

model.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_7 (Embedding)     (None, 50, 2)             20000

 simple_rnn_7 (SimpleRNN)    (None, 32)                1120

 dense_7 (Dense)             (None, 1)                 33

=================================================================
Total params: 21153 (82.63 KB)
Trainable params: 21153 (82.63 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [96]:
model.compile(metrics = ['acc'], optimizer = 'adam', loss = 'binary_crossentropy')

In [97]:
model.fit(x_train, y_train, epochs = 5, validation_data = (x_test, y_test))

Epoch 1/5
782/782 [==============================] - 14s 15ms/step - loss: 0.6236 - acc: 0.6140 - val_loss: 0.4440 - val_acc: 0.7966
Epoch 2/5
782/782 [==============================] - 11s 14ms/step - loss: 0.3995 - acc: 0.8235 - val_loss: 0.4101 - val_acc: 0.8147
Epoch 3/5
782/782 [==============================] - 12s 15ms/step - loss: 0.3284 - acc: 0.8636 - val_loss: 0.4201 - val_acc: 0.8133
Epoch 4/5
782/782 [==============================] - 12s 15ms/step - loss: 0.2916 - acc: 0.8848 - val_loss: 0.4585 - val_acc: 0.8057
Epoch 5/5
782/782 [==============================] - 13s 17ms/step - loss: 0.2639 - acc: 0.8987 - val_loss: 0.4682 - val_acc: 0.7989

In [98]:
test_data = x_test[0][0:50].reshape(1,-1)

In [101]:
if model.predict(test_data) < 0.5:
  print('negative review')
else:
  print('positive review')

1/1 [==============================] - 0s 35ms/step
negative review

In [103]:
#stacked rnn
model1 = Sequential()
model1.add(SimpleRNN(20, input_shape = (50,1), return_sequences=True))
model1.add(SimpleRNN(32, input_shape = (50,1), return_sequences=False))
model1.add(Dense(1,activation = 'sigmoid'))

model1.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 simple_rnn_10 (SimpleRNN)   (None, 50, 20)            440

 simple_rnn_11 (SimpleRNN)   (None, 32)                1696

 dense_9 (Dense)             (None, 1)                 33

=================================================================
Total params: 2169 (8.47 KB)
Trainable params: 2169 (8.47 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [104]:
model1.compile(metrics = ['acc'], optimizer = 'adam', loss = 'binary_crossentropy')

In [105]:
model1.fit(x_train, y_train, epochs = 5, validation_data = (x_test, y_test))

Epoch 1/5
782/782 [==============================] - 22s 25ms/step - loss: 0.6970 - acc: 0.4995 - val_loss: 0.6961 - val_acc: 0.5025
Epoch 2/5
782/782 [==============================] - 17s 22ms/step - loss: 0.6945 - acc: 0.5073 - val_loss: 0.6937 - val_acc: 0.5065
Epoch 3/5
782/782 [==============================] - 19s 24ms/step - loss: 0.6935 - acc: 0.5122 - val_loss: 0.6942 - val_acc: 0.5089
Epoch 4/5
782/782 [==============================] - 20s 25ms/step - loss: 0.6931 - acc: 0.5144 - val_loss: 0.6936 - val_acc: 0.5188
Epoch 5/5
782/782 [==============================] - 19s 25ms/step - loss: 0.6931 - acc: 0.5076 - val_loss: 0.6933 - val_acc: 0.5181

In [112]:
if model.predict(test_data) < 0.5:
  print('negative review')
else:
  print('positive review')

1/1 [==============================] - 0s 72ms/step
negative review